<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Welcome on my little application</h1>
    <p>
        On this one, you can complete a form and save your data in a JSON file
    </p>
    <H4>Why ? I don't know </H4>
    <p>Because of the cors policy, you need to use an extension on Chrome : 
        <a target="_blank" href="https://chrome.google.com/webstore/detail/moesif-origin-cors-change/digfbfaphojjndkpccljibejjbppifbc">Moesif</a></p>
    <a href="/inscription"><button>Subscribe</button></a>
</body>
</html>